<div class="album py-5 bg-light">
  <!-- Bootstrapのグリッドシステムを適用 -->
  <div class="container">

    <!-- 行要素を配置 -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <!-- 列要素を配置 -->
      <div class="col">
        <div class="card shadow-sm">
          <!-- svgタグをimgに変更 src属性を追加して1枚目のイメージのURLを設定 -->
          <svg class="bd-placeholder-img card-img-top"
               width="100%" height="225"
               xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Thumbnail"
               preserveAspectRatio="xMidYMid slice"
               focusable="false">
               <title>Placeholder</title>
               <rect width="100%" height="100%" fill="#55595c"/>
          </svg>

          <!-- タイトルとボタンを出力するブロック -->
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <!-- 詳細ページを表示するボタン -->
                <button type="button"
                        class="btn btn-sm btn-outline-secondary">
                        View</button>
                <!-- カテゴリを表示するボタン -->
                <button type="button"
                        class="btn btn-sm btn-outline-secondary">
                        Edit</button>
              </div>
              <!-- 投稿したユーザー名を出力-->
              <small class="text-muted">UserName</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
